.c-bg-pink {
  background-color: pink;
} 

.c-c-red {
  color: red;
} 

.c-pa-2 {
  padding: 20px;
} 

.c-b-3 {
  border: solid 3px;
}

.c-br-4 {
  border-radius: 4px;
}

.c-button {
  border: solid 3px;
  border-radius: 4px;
  padding: 20px;
}